/* PHASE 9: Forms */
.content-main {
  background-color: rgb(247, 241, 241);
}

.content-main form {
  display: block;
  float: center;
  position: relative;
  width: 1000px;
  
}

input {
  background: white;
}

textarea {
  /* position: relative; */
  background: white;
  width: 560px;
}

textarea:focus, input:focus {
  background: rgba(251, 255, 168, 0.831);
}

.content-main .thumb {
  display: block;
  float: left;
  position: relative;
  width: 58px;
  height: 58px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 10px;
}